<form action="https://mailthis.to/hi@artomatica.com" method="POST" accept-charset="UTF-8" encType="multipart/form-data">
 <fieldset>
 <label for="name">Name</label><br>
 <input type="text" name="name" placeholder="Name" id="name" required>
 </fieldset>
 <fieldset>
 <label for="_replyto">email</label><br>
 <input type="Your contact email" name="_replyto" placeholder="my@email.com" id="_replyto" required>
 </fieldset>
 <fieldset>
 <label for="message">Message</label><br>
 <textarea name="message" rows="1" placeholder="Message" id="message" required></textarea>
 </fieldset>
 <input class="hidden" type="text" name="_gotcha" style="display:none">
 <input class="hidden" type="hidden" name="_subject" value="Message via http://artomatica.com"> 

<input type="hidden" name="_after" value="https://artomatica.com/contact">
<input class="button submit" type="submit" value="Send">
</form>
